body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color:#434455;
}
a{
    text-decoration: none;
    cursor:pointer;
}

.header-logo{
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
}
head .web-header {
    color: #2e2f42;
}
button{
    cursor:pointer;
}
ul{
    list-style-type: none;
}
.address-section{
    font-style: normal;
}
.header-buttons{
    width: 261px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.header-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.header-button:hover,
.header-button:focus, 
.address-line:hover,
.address-line:focus{
    color: #404bbf;
}
.address-line{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.main-header{
    background: #2e2f42;
    width: 1440px;
    height: 600px;
}
.headline-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.order-button{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
}
.order-button:hover,
.order-button:focus{
    background: #404bbf;
}
.qualities-element .headline-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.qualities-section .headline-two{
    display: none;
    line-height: 1.11;
    text-transform: capitalize;
    
}
.qualities-element .text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team-section{
    background: #f4f4fd;
}
.team-section .headline-two{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-list .headline-three{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-list .text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio-section .headline-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-element .headline-three{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-element .text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
footer{
    background:#2e2f42;
}
footer .text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
footer .header-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height:1.17;
}
footer .web-header{
    color: #f4f4fd;
}





